body {
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.list-group-item.active{
    background: rgb(1 55 88) !important;
}

.container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    top: 50px;
    position: relative;
}

h2 {
    color: #007bff;
    text-align: center;
    margin-bottom: 30px;
}

.h3-saldo{
    display: flex;
    justify-content: center;
}

#h-monto {
    font-size: 2rem;
    font-weight: bold;
    color: #959595;;
}

#btnSearchContact{
    display: flex;
    justify-content: flex-start;
    padding: 0px;
    border: 0px;
    align-items: center;
    background: #19347f;
    color: white;
    text-decoration: none;
}

#btnSearchContact:hover{
    background: #2984cf;
}

#btnSearchContact:active{
 background-color: #19347f; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3) inset; /* Sombra interior */
  transform: translate(2px, 2px) 
}

#btnSearchContact img{
    height: 33px;
}

#alertInfo, #alertDangerModal {
    display: none;
    position: fixed;
    bottom: 0px;
    z-index: 1050;
    width: 90%;
}

#btnEliminarContacto{
    display: none;
}

#contactList {
    max-height: 200px;
    overflow-y: auto;
    margin-bottom: 20px;
}

.list-group-item {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list-group-item:hover {
    background-color: #f1f1f1;
}

#btnShowModal, #btnEnviarDinero, #btnBackToMenu {
    width: 193.59px;
    padding: 12px;
    font-size: 1.1rem;
}

#btnShowModal{
    padding: 3px;
}

.modal-header {
    background-color: #007bff;
    color: white;
}

.modal-title {
    font-size: 1.25rem;
}

.btn-close {
    filter: invert(1) grayscale(100%) brightness(200%);
}

.conatiner-add-contact{
    margin: 0px;
    display: flex;
    justify-content: center;
}



.container-buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

#div-contactos{
    display: none;
}