body {
    padding: 20px;
}

.container {
    margin: 0 auto;
}

.fade{
    opacity: 1;
    background-color: #8080809c;
}

#myModal .modal-dialog{
    display: flex;
    height: 70%;
    justify-content: center;
    align-items: center;
}


.alert-info, 
.alert-danger{
    display: none;
}

.msgError{
    color: red;
}

.background-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;   /* ocupa todo el ancho */
  height: 33vh;   /* un tercio de la altura */
  background-color: #09206f;
  z-index: -1;
}

.btn-icon
 {
    margin-bottom: 15px;
    padding: 12px;
    font-size: 1.1rem;
    background-color: #09206f;
    color: black;
    border: none;
    height: 5em;
    width: 11em;
}

.btn-icon:hover{
    background: #718cbef3;
}

.btn-icon img{
    width: 3.5em;
}