body {
    padding: 20px;
}

.container {
    margin: 0 auto;
}

.container-login{
    max-width: 390px;
    border-radius: 10px;
    padding: 3em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 5em;
}

.fade{
    opacity: 1;
    background-color: #8080809c;
}

#myModal .modal-dialog{
    display: flex;
    height: 70%;
    justify-content: center;
    align-items: center;
}


.alert-info, 
.alert-danger{
    display: none;
}

.msgError{
    color: red;
}

.semi-circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;   /* ocupa todo el ancho */
  height: 33vh;   /* un tercio de la altura */
  background-color: orange;
  z-index: -1;
}
